* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

a {
  text-decoration: none;
  color: black; }

ul {
  list-style-type: none; }

#search::placeholder {
  font-size: 1.2em;
  color: black;
  font-weight: bold;
  opacity: 1; }

.btn_container {
  margin: 40px auto 50px; }

.btn {
  border: 2px transparent;
  border-radius: 25px;
  box-shadow: 0px 5px 15px 0px lightgray;
  padding: 0.8em 1em;
  font-weight: bold;
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
  transition: 0.2s; }
  .btn:hover {
    background: linear-gradient(#ff93e1, #a16be0);
    box-shadow: 0 5px 15px 0 #7a7a7a; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

a {
  text-decoration: none;
  color: black; }

ul {
  list-style-type: none; }

#search::placeholder {
  font-size: 1.2em;
  color: black;
  font-weight: bold;
  opacity: 1; }

.btn_container {
  margin: 40px auto 50px; }

.btn {
  border: 2px transparent;
  border-radius: 25px;
  box-shadow: 0px 5px 15px 0px lightgray;
  padding: 0.8em 1em;
  font-weight: bold;
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
  transition: 0.2s; }
  .btn:hover {
    background: linear-gradient(#ff93e1, #a16be0);
    box-shadow: 0 5px 15px 0 #7a7a7a; }

.loadspinner {
  animation: loadspinner 2.5s;
  animation-delay: 2s;
  animation-fill-mode: both;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 100; }
  .loadspinner::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  .loadspinner .spinner-wrapper {
    border: 5px solid white;
    border-radius: 50%;
    display: inline-block;
    height: 100px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    vertical-align: middle;
    width: 100px; }
    .loadspinner .spinner-wrapper .spinner-cover {
      background: white;
      border-radius: 50%;
      height: 100%;
      position: relative;
      width: 100%;
      z-index: 2; }
    .loadspinner .spinner-wrapper .spinner-bar {
      animation: spinner 2s linear infinite;
      border-radius: 50% 0%;
      height: 50%;
      left: 0;
      position: absolute;
      top: 0;
      transform-origin: 100% 100%;
      width: 50%; }

@keyframes loadspinner {
  0% {
    background-color: #9356dc;
    opacity: 0.8; }
  50% {
    background-color: #fface8; }
  100% {
    opacity: 0;
    z-index: -5; } }
@keyframes spinner {
  0% {
    background: #fface8;
    transform: rotate(0deg); }
  50% {
    background: #fface8;
    transform: rotate(180deg); }
  100% {
    background: #fface8;
    transform: rotate(360deg); } }
@keyframes fadein {
  from {
    transform: scale(0.5);
    margin-top: 10%;
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }
@-moz-keyframes fadein {
  /* sur Firefox */
  from {
    transform: scale(0.8);
    margin-top: 10%;
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    transform: scale(0.8);
    margin-top: 10%;
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

a {
  text-decoration: none;
  color: black; }

ul {
  list-style-type: none; }

#search::placeholder {
  font-size: 1.2em;
  color: black;
  font-weight: bold;
  opacity: 1; }

.btn_container {
  margin: 40px auto 50px; }

.btn {
  border: 2px transparent;
  border-radius: 25px;
  box-shadow: 0px 5px 15px 0px lightgray;
  padding: 0.8em 1em;
  font-weight: bold;
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
  transition: 0.2s; }
  .btn:hover {
    background: linear-gradient(#ff93e1, #a16be0);
    box-shadow: 0 5px 15px 0 #7a7a7a; }

.loadspinner {
  animation: loadspinner 2.5s;
  animation-delay: 2s;
  animation-fill-mode: both;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 100; }
  .loadspinner::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  .loadspinner .spinner-wrapper {
    border: 5px solid white;
    border-radius: 50%;
    display: inline-block;
    height: 100px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    vertical-align: middle;
    width: 100px; }
    .loadspinner .spinner-wrapper .spinner-cover {
      background: white;
      border-radius: 50%;
      height: 100%;
      position: relative;
      width: 100%;
      z-index: 2; }
    .loadspinner .spinner-wrapper .spinner-bar {
      animation: spinner 2s linear infinite;
      border-radius: 50% 0%;
      height: 50%;
      left: 0;
      position: absolute;
      top: 0;
      transform-origin: 100% 100%;
      width: 50%; }

@keyframes loadspinner {
  0% {
    background-color: #9356dc;
    opacity: 0.8; }
  50% {
    background-color: #fface8; }
  100% {
    opacity: 0;
    z-index: -5; } }
@keyframes spinner {
  0% {
    background: #fface8;
    transform: rotate(0deg); }
  50% {
    background: #fface8;
    transform: rotate(180deg); }
  100% {
    background: #fface8;
    transform: rotate(360deg); } }
@keyframes fadein {
  from {
    transform: scale(0.5);
    margin-top: 10%;
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }
@-moz-keyframes fadein {
  /* sur Firefox */
  from {
    transform: scale(0.8);
    margin-top: 10%;
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    transform: scale(0.8);
    margin-top: 10%;
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }
.like {
  position: relative;
  font-size: 25px;
  left: 1px;
  cursor: pointer;
  transition: 2s;
  color: grey; }
  .like .empty-icon {
    opacity: 0;
    position: absolute; }
  .like i {
    position: absolute;
    right: 25px;
    bottom: 10px;
    color: lightgrey; }
  .like:hover .full-icon {
    opacity: 0;
    font-weight: bold;
    transition: .6s 0s ease; }
  .like:hover .empty-icon {
    color: #9356dc;
    font-weight: bold;
    opacity: 1;
    transition: .6s 0s ease; }

.cards_menu {
  animation: fadein 0.8s; }

#menu_index {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  #menu_index i {
    position: absolute;
    left: 15px;
    top: 23px; }
  #menu_index .header__logo {
    text-align: center;
    padding: 15px;
    margin: auto; }
    #menu_index .header__logo img {
      width: 50%;
      object-fit: cover; }
  #menu_index .menu_cover_image {
    width: 100%;
    height: 250px;
    z-index: -1; }
    #menu_index .menu_cover_image img {
      object-fit: cover;
      width: 100%;
      height: 100%; }

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #f6f6f6;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  margin-top: -45px;
  padding: 15px; }
  main .restaurant_title {
    border-radius: 20px 20px 0px 0px; }
    main .restaurant_title h1 {
      font-family: "Shrikhand", cursive;
      font-size: 1.7em;
      margin: 15px 0px;
      opacity: 0.9; }
    main .restaurant_title .like {
      right: 20px;
      bottom: 12px; }
  main .menu_subTitles {
    width: 40px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-size: 1em;
    font-weight: 300;
    overflow: visible;
    border-bottom: 3px solid #99e2d0; }

.menu_container_cards {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.cards_menu {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  padding: 13px 10px;
  background-color: white;
  border-radius: 20px; }
  .cards_menu h3 {
    margin: 0px 0px 3px 0px;
    font-weight: 500; }
  .cards_menu h4 {
    font-weight: 200; }
  .cards_menu .menu_price {
    position: absolute;
    right: 15px;
    bottom: 13px; }

.btn_container a {
  padding: 15px 39px;
  font-weight: 300; }

footer {
  background-color: #333;
  padding-bottom: 20px; }

.footer_container img {
  max-width: 100px;
  filter: invert(1);
  margin: 20px; }
.footer_container .footer_informations_list {
  margin: 0px 8px;
  color: white; }
  .footer_container .footer_informations_list li {
    padding: 3px 0px; }
    .footer_container .footer_informations_list li i {
      margin-top: 5px;
      font-size: 12px;
      position: absolute; }
    .footer_container .footer_informations_list li span {
      margin-left: 25px; }
    .footer_container .footer_informations_list li a {
      color: white; }

/*# sourceMappingURL=menu.css.map */
