* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;}

$primary_color: #9356dc;
$primary_color--light: lighten($primary_color, 10%);
$secondary_color: #ff79da;
$secondary_color--light: lighten($secondary_color, 10%);
$tertiary_color: #99e2d0;
$location_color: rgb(234, 234, 234);
$background_color: rgb(246, 246, 246);

body {
  // max-width: 1024px;
}

a {
  text-decoration: none;
  color: black;
}

#search::placeholder {
  font-size: 1.2em;
  color: black;
  font-weight: bold;
}

// BOUTONS

.btn_container {
  margin: 40px auto 50px;
  background-color: line ;
  // background: #444;

}

.btn {
  border: 2px transparent;
  border-radius: 20px;
  padding: 0.8em 1em;
  font-weight: bold;
  color: white;
  background: linear-gradient($secondary_color, $primary_color);

}
