@import "bases.scss";


// LOAD SPINNER

@keyframes loadspinner {
  0% {
    background-color: $primary_color;
    opacity: 0.8;
  }
  50% {
    background-color: $secondary_color--light ;
    // opacity: 0.3;
  }

  100% {
    opacity: 0;
    z-index: -5;
    // Si pas de z-index autres effets HS 
    
  }
}

@keyframes spinner {
  0% {
    background: $secondary_color--light;
    transform: rotate(0deg);
  }

  50% {
    background: $secondary_color--light;
    transform: rotate(180deg);
  }

  100% {
    background: $secondary_color--light;
    transform: rotate(360deg);
  }
}


// CHECKBOX 

@keyframes check-box {
  10% {
    transform: rotate(-1deg);
  }

  100% {
    transform: rotate(-360deg) scale(1);
  }
}


// FADEIN MENU
@keyframes fadein {
  from {
      transform: scale(.8);
      margin-top: 10%;
      opacity: 0;
    }
  
    to {
      transform: scale(1);
      opacity: 1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
  from {
    transform: scale(.8);
    margin-top: 10%;
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
  from {
      transform: scale(.8);
      margin-top: 10%;
      opacity: 0;
    }
  
    to {
      transform: scale(1);
      opacity: 1;
    }
}


