@import "bases.scss";


// LOAD SPINNER

.loadspinner {
  animation: loadspinner 2.5s;
  animation-delay: 2s;
  animation-fill-mode:both;
  // background-color: linear-gradient($secondary_color, $primary_color);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 100;

  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .spinner-wrapper {
    border: 5px solid white;
    border-radius: 50%;
    display: inline-block;
    height: 100px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    vertical-align: middle;
    width: 100px;


    .spinner-cover {
      background:white;
      border-radius: 50%;
      height: 100%;
      position: relative;
      width: 100%;
      z-index: 2;
    }

    .spinner-bar {
      animation: spinner 2s linear infinite;
      // background: $secondary_color;
      border-radius: 50% 0%;
      height: 50%;
      left: 0;
      position: absolute;
      top: 0;
      transform-origin: 100% 100%;
      width: 50%;
    }
  }
}

@keyframes loadspinner {
  0% {
    background-color: $primary_color;
    opacity: 0.8;
  }
  50% {
    background-color: $secondary_color--light ;
    // opacity: 0.3;
  }

  100% {
    opacity: 0;
    
  }
}

@keyframes spinner {
  0% {
    background: $secondary_color--light;
    transform: rotate(0deg);
  }

  50% {
    background: $secondary_color--light;
    transform: rotate(180deg);
  }

  100% {
    background: $secondary_color--light;
    transform: rotate(360deg);
  }
}

// LIKE

.like {
  position: relative;
  font-size: 25px;
  left: 1px;
  cursor: pointer;
  transition: 2s ;
  color: grey;

  .empty-icon {
      opacity: 0;
      position: absolute;
  }

  
  i {
    position: absolute;
    right: 25px;
    bottom: 10px;
    color:lightgrey;
    

  }

  &:hover {
      .full-icon {
         opacity: 0;
         font-weight: bold;
          transition: .6s 0s ease;
        }
    
        .empty-icon {
          color:$primary_color;
          font-weight: bold;
          opacity: 1;
          transition: .6s 0s ease;
        }
  }

  
}