@import "bases.scss";
@import "variables.scss";
@import "mixins.scss";
@import "keyframes.scss";
@import "animations.scss";
@import "transform.scss";

// HEADER

header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .header__search {
    width: 100%;
    background-color: $location_color;
    border-top: 3px solid #e0e0e0be;
    // margin-bottom: 20px;

    .header__search__location {
      width: 100%;
      margin: 1rem 0;
      display: flex;
      justify-content: center;
      #search {
        border: none;
        padding: 0 0 0 1.5rem;
        background-color: $location_color;
      }
    }
  }

  .header__logo {
    // width: 100%;
    margin: auto;
    padding: 15px;
    text-align: center;
    img {
      width: 50%;
      object-fit: cover;
    }
  }
}

// MAIN
main {
  text-align: center;
}

.introduction {
  width: 100%;
  background-color: $background_color;
  // display: flex;
  text-align: center;
  padding: 10px;

  h1 {
    font-size: 1.4em;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 10px 40px;
  }

  h2 {
    font-size: 1em;
    font-weight: 100;
  }
}

.operation {
  margin: 40px 20px;
  h2 {
    text-align: left;
  }
}

.operation_cards_container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  .operation_cards {
    @include box-shadows;
    width: auto;
    margin: 15px 15px;
    text-align: left;
    background-color: #f6f6f6;
    // border: 2px solid black;
    border-radius: 20px;
    padding: 1.3em 1em;

    &:hover {
        background-color: lighten($primary_color--light, 25);
        box-shadow: 2px 2px 10px 2px #eaeaea ;
        i {
          color:$primary_color;
        }
    }

    i {
      margin: 0 20px;
      font-size: 1.3em;
      color: #8a8a8a;
      // align-items: center;
    }
  }

  span {
    background-color: #9356dc;
    border-radius: 100%;
    color: #fff;
    height: 25px;
    left: 25px;
    line-height: 1.67;
    position: absolute;
    text-align: center;
    width: 25px;
  }
}

.restaurants {
  background-color: $background_color;
  // margin: 20px 0px;
  padding-bottom: 40px;
  
  h2 {
    text-align: left;
    margin: 30px 20px;
    padding-top: 40px;
  }
  h3 {
    margin: 10px;
  }

  h4 {
    margin:0px auto 0px 10px ;
    font-weight: 300;
  }
  p {
    margin: 10px auto 0px 10px;
  }

  .restaurants_cards {
    @include box-shadows;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 244px;
    margin: 15px 15px;
    padding-bottom: 15px;
    border-radius: 20px;
    background-color: white;
    text-align: left;
    img {
      object-fit: cover;
      width: 100%;
      border-radius: 20px 20px 0px 0px;
      overflow: hidden;
    }
    
      
    }
  }

  .cards_news {
    text-align: center;
    background-color: #99e2d0;
    color: #2c9c81;
    width: 100px;
    position: absolute;
    right: 25px;
    margin-top: 10px;
    padding: 7px 8px;
    font-weight: bold;
  }


// FOOTER

footer {
  background-color: #333;
  // height: auto;
  padding-bottom: 20px;
}

.footer_container {
  img {
    max-width: 100px;
    filter: invert(1);
    margin: 20px;
  }

  .footer_informations_list {
    margin: 0px 8px;
    color: white;

    li {
      padding: 3px 0px;

      i {
        margin-right: 10px;
      }

      a {
        color: white;
      }
    }
  }
}

